@media only screen and (min-width: 992px) {
    * {
        margin: 0%;
        padding: 0%;
        direction: rtl;
        font-family: IBM Plex Sans Arabic !important;
    }

    /* Navbar */
    .navbar-container {
        position: fixed;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(3px);
        z-index: 4;
    }

    .navbar-logo {
        width: 60%
    }

    .nav-link {
        color: black;
    }

    .bold-item {
        font-weight: bold;
    }

    /* Content */
    /* video */
    .video-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-overlay h1 {
        font-size: 6rem;
        width: 30vw;
    }

    .text-overlay button {
        font-size: 2.5rem;
        width: 30vw;
        height: 9.5vh;
        padding: 1vh 0;
        border: none;
        border-radius: 50px;
        background-color: #5bbec1;
        color: white;
        text-align: center;
    }

    /* camps and progrmas */
    .camps-progrmas-container,
    .academy-numbers-container {
        width: 100%;
        height: 75vh;
        background-color: #f1f4f7;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .camps-progrmas-container {
        color: #4e3797;
    }

    .camps-progrmas-content {
        width: 90%;
        height: 40vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .box1 {
        width: 30%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        border-right: 1rem solid #c2e5c6;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .box-header {
        width: 87%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-type1 {
        color: #c2e5c6;
    }

    .box-details {
        width: 90%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .details1 {
        display: flex;
        height: 5vh;
    }

    .details-location {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.6rem;
    }

    .details-location img {
        width: 30%;
    }

    .details-duration {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.6rem;
    }

    .text{
        font-size: 0.8rem;
        margin-top: 0.8rem;
    }

    .details2 {
        display: flex;
        justify-content: space-between;
        height: 5vh;
    }

    .details-time {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.3rem;
        background-color: #91d8db;
    }

    .details-time img {
        width: 12%;
    }

    .details-button {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .details-btn1,
    .details-btn2,
    .details-btn3 {
        width: 90%;
        height: 100%;
        border-radius: 50px;
        border: 0.14rem solid #c2e5c6;
        font-size: 1.2rem;
        color: #c2e5c6;
        background-color: white;
    }

    .box2 {
        width: 30%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        border-right: 1rem solid #92d8db;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-type2 {
        color: #92d8db;
    }

    .details-btn2 {
        border: 0.14rem solid #92d8db;
        color: #92d8db;
    }

    .box3 {
        width: 30%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        border-right: 1rem solid #92d8db;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-type3 {
        color: #92d8db;
    }

    .details-btn3 {
        border: 0.14rem solid #92d8db;
        color: #92d8db;
    }

    .more-camps-programs {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .more-camps-programs button {
        width: 18%;
        height: 60%;
        border-radius: 50px;
        border: 0.14rem solid #4e3797;
        font-size: 1rem;
        color: #4e3797;
        background-color: white;
    }

    /* academy numbers */
    .academy-numbers-container,
    .academy-activities-container,
    .partners-container,
    .subscribe-container,
    .footer-container {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #4e3797;
        background-color: white;
    }

    .academy-numbers-content,
    .academy-activities-content,
    .partners-content,
    .subscribe-content,
    .footer-content,
    .footer-content2 {
        width: 90%;
        height: 28vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .academy-box1 {
        width: 15%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-box2 {
        width: 15%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-box3 {
        width: 15%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-box4 {
        width: 15%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-icon,
    .academy-icon1,
    .academy-icon2,
    .academy-icon3 {
        background-color: #91d8db;
        width: 28%;
        height: 8vh;
        border-radius: 50px;
        align-self: center;
        transform: translate(0, -40%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .academy-icon img {
        width: 60%;
    }

    .academy-icon1 img {
        width: 40%;
    }

    .academy-icon2 img {
        width: 40%;
    }

    .academy-icon3 img {
        width: 50%;
    }

    .academy-box-header {
        width: 60%;
        height: 23vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        color: #91d8db;
    }

    .header3 {
        width: 40%;
    }

    .bold-no {
        font-weight: bold;
        font-size: 1.5rem;
        color: #4e3797;
    }

    .type-color {
        color: black;
    }

    /* academy activities */
    .academy-activities-container {
        background-color: #4e3797;
        color: white;
        height: 90vh;
    }

    .academy-activities-content {
        width: 100%;
        height: 70%;
    }

    .academy-activites-box1 {
        width: 18%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-activites-box2 {
        width: 18%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-activites-box3 {
        width: 18%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 18px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-activites-box4 {
        width: 18%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }


    .academy-activites-icon,
    .academy-activites-icon2 {
        width: 100%;
        height: 20%;
        /* background-color: bisque; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .academy-activites-icon img {
        width: 25%;
    }

    .academy-activites-icon2 img {
        width: 20%;
    }

    .academy-activites-header,
    .academy-activites-header2 {
        width: 60%;
        height: 20%;
        font-size: 1.4rem;
        color: #91d8db;
    }

    .academy-activites-header2 {
        width: 40%;
    }

    .academy-activities-p {
        width: 90%;
        height: 25%;
        color: black;
        font-size: 1.2rem;
    }

    .academy-activities-p,
    .academy-activities-p2 {
        width: 90%;
        height: 25%;
        color: black;
        font-size: 1.2rem;
    }

    .academy-activities-p2 {
        width: 80%;
    }

    .academy-activities-button {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .academy-activities-button button {
        width: 80%;
        height: 70%;
        border-radius: 50px;
        border: none;
        font-size: 1rem;
        color: white;
        background-color: #4e3797;
    }

    /* partners */
    .partners-container {
        background-color: #f1f4f7;
        height: 60vh;
    }

    .partners-content {
        height: 16vh;
    }

    .partners-box1 {
        width: 18%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners-box1 img {
        width: 50%;
    }

    .partners-box2 {
        width: 18%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners-box2 img {
        width: 50%;
    }

    .partners-box3 {
        width: 18%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners-box3 img {
        width: 70%;
    }

    .partners-box4 {
        width: 18%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners-box4 img {
        width: 40%;
    }

    /* subscribe */
    .subscribe-container {
        background-color: #5bbec1;
        color: white;
        height: 30vh;
    }

    .subscribe-content {
        height: 10vh;
    }

    .subscribe-form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
    }

    .subscribe-form input {
        width: 18vw;
        height: 7vh;
        font-size: 1rem;
        padding-right: 0.5rem;
        border: none;
    }

    .subscribe-form button {
        width: 17%;
        height: 7vh;
        border-radius: 10px;
        border: none;
        font-size: 1rem;
        color: white;
        background-color: #4e3797;
    }

    /* footer */

    .footer-container {
        background-color: #4e3797;
        height: 45vh;
        color: white;
        justify-content: center;
    }

    .footer-content {
        align-items: flex-end;
        height: 20vh;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .res-footer,
    .res-footer-box2,
    .res-footer-box3 {
        display: none;
    }

    .footer-box1 {
        width: 18%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-box1 img {
        width: 80%;
    }

    .footer-box2 {
        width: 18%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-box3 {
        width: 18%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-box4 {
        width: 18%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-box5 {
        width: 18%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-box5 img {
        width: 80%;
    }

    .footer-icons-container {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-icons {
        width: 2vw;
        height: 4vh;
        background-color: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-icons img {
        width: 55%;
    }

    .footer-content2 {
        align-items: flex-end;
        height: 15vh;
    }

}

/* ======================================================================================== */
/* mobile */
@media only screen and (max-width: 600px) {
    * {
        margin: 0%;
        padding: 0%;
        direction: rtl;
        font-family: IBM Plex Sans Arabic !important;
    }

    /* Navbar */
    .navbar-container {
        position: fixed;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(3px);
        z-index: 4;
    }

    .navbar-logo {
        width: 60%
    }

    .nav-link {
        color: black;
    }

    /* Content */
    /* video */
    .video-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 55vh;
    }

    .text-overlay h1 {
        font-size: 4.5rem;
        width: 60vw;
    }

    .text-overlay button {
        font-size: 2.5rem;
        width: 90vw;
        height: 13vh;
        padding: 1vh 0;
        border: none;
        border-radius: 50px;
        background-color: #5bbec1;
        color: white;
        text-align: center;
    }

    /* camps and progrmas */
    .camps-progrmas-container {
        width: 100%;
        height: 240vh;
        background-color: #f1f4f7;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .camps-progrmas-container {
        color: #4e3797;
    }

    .camps-progrmas-content {
        width: 90%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .box1 {
        width: 70%;
        height: 50vw;
        background-color: white;
        border-radius: 10px;
        border-right: 1rem solid #c2e5c6;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .box-header {
        width: 87%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-type1 {
        color: #c2e5c6;
    }

    .box-details {
        width: 90%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .details1 {
        display: flex;
        height: 5vh;
    }

    .details-location {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.6rem;
    }

    .details-location img {
        width: 30%;
    }

    .details-duration {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.6rem;
    }

    .text{
        font-size: 0.8rem;
        margin-top: 0.8rem;
    }
    
    .details2 {
        display: flex;
        justify-content: space-between;
        height: 7vh;
    }

    .details-time {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 0.6rem;
    }

    .details-time img {
        width: 12%;
    }

    .details-button {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .details-btn1,
    .details-btn2,
    .details-btn3 {
        width: 90%;
        height: 100%;
        border-radius: 50px;
        border: 0.14rem solid #c2e5c6;
        font-size: 1.2rem;
        color: #c2e5c6;
        background-color: white;
    }

    .box2 {
        width: 70%;
        height: 50vh;
        background-color: white;
        border-radius: 10px;
        border-right: 1rem solid #92d8db;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-type2 {
        color: #92d8db;
    }

    .details-btn2 {
        border: 0.14rem solid #92d8db;
        color: #92d8db;
    }

    .box3 {
        width: 70%;
        height: 50vh;
        background-color: white;
        border-radius: 10px;
        border-right: 1rem solid #92d8db;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-type3 {
        color: #92d8db;
    }

    .details-btn3 {
        border: 0.14rem solid #92d8db;
        color: #92d8db;
    }

    .more-camps-programs {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .more-camps-programs button {
        width: 42%;
        height: 85%;
        border-radius: 50px;
        border: 0.12rem solid #4e3797;
        font-size: 1.1rem;
        font-weight: lighter;
        color: #4e3797;
        background-color: none;
    }

    /* academy numbers */
    .academy-activities-container,
    .partners-container,
    .subscribe-container,
    .footer-container {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #4e3797;
        background-color: white;
    }

    .academy-activities-content,
    .partners-content,
    .subscribe-content,
    .footer-content,
    .footer-content2 {
        width: 90%;
        height: 28vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .academy-numbers-container {
        width: 100%;
        height: 320vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .academy-numbers-container {
        color: #4e3797;
    }

    .academy-numbers-content {
        width: 90%;
        height: 240vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .academy-box1 {
        width: 80%;
        height: 50vh;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-box2 {
        width: 80%;
        height: 50vh;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-box3 {
        width: 80%;
        height: 50vh;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-box4 {
        width: 80%;
        height: 50vh;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-icon,
    .academy-icon1,
    .academy-icon2,
    .academy-icon3 {
        background-color: #91d8db;
        width: 20%;
        height: 16vh;
        border-radius: 50px;
        align-self: center;
        transform: translate(0, -40%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .academy-icon img {
        width: 60%;
    }

    .academy-icon1 img {
        width: 40%;
    }

    .academy-icon2 img {
        width: 40%;
    }

    .academy-icon3 img {
        width: 50%;
    }

    .academy-box-header {
        width: 60%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        color: #91d8db;
        font-size: 1.5rem;
    }

    .header3 {
        width: 60%;
    }

    .bold-no {
        font-weight: bold;
        font-size: 2.5rem;
        color: #4e3797;
    }

    .type-color {
        color: black;
    }

    /* academy activities */
    .academy-activities-container {
        background-color: #4e3797;
        color: white;
        height: 270vh;
    }

    .academy-activities-content {
        width: 100%;
        height: 90%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .academy-activites-box1 {
        width: 45%;
        height: 110vh;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-activites-box2 {
        width: 45%;
        height: 110vh;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-activites-box3 {
        width: 45%;
        height: 110vh;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .academy-activites-box4 {
        width: 45%;
        height: 110vh;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }


    .academy-activites-icon,
    .academy-activites-icon2 {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .academy-activites-icon img {
        width: 25%;
    }

    .academy-activites-icon2 img {
        width: 20%;
    }

    .academy-activites-header,
    .academy-activites-header2 {
        width: 60%;
        height: 20%;
        font-size: 1.4rem;
        color: #91d8db;
    }

    .academy-activites-header2 {
        width: 40%;
    }

    .academy-activities-p {
        width: 90%;
        height: 25%;
        color: black;
        font-size: 1.2rem;
    }

    .academy-activities-p,
    .academy-activities-p2 {
        width: 90%;
        height: 25%;
        color: black;
        font-size: 1.2rem;
    }

    .academy-activities-p2 {
        width: 80%;
    }

    .academy-activities-button {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .academy-activities-button button {
        width: 80%;
        height: 60%;
        border-radius: 50px;
        border: none;
        font-size: 1rem;
        color: white;
        background-color: #4e3797;
    }

    /* partners */
    .partners-container {
        background-color: #f1f4f7;
        height: 60vh;
    }

    .partners-content {
        height: 16vh;
    }

    .partners-box1 {
        width: 18%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners-box1 img {
        width: 50%;
    }

    .partners-box2 {
        width: 18%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners-box2 img {
        width: 50%;
    }

    .partners-box3 {
        width: 18%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners-box3 img {
        width: 70%;
    }

    .partners-box4 {
        width: 18%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners-box4 img {
        width: 40%;
    }

    /* subscribe */
    .subscribe-container {
        background-color: #5bbec1;
        color: white;
        height: 80vh;
    }

    .subscribe-content {
        height: 50vh;
    }

    .subscribe-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .subscribe-form input {
        width: 95%;
        height: 9vh;
        font-size: 1rem;
        padding-right: 0.5rem;
        border: none;
        border-radius: 5px;
    }

    .subscribe-form button {
        width: 97%;
        height: 10vh;
        border-radius: 15px;
        border: none;
        font-size: 1.5rem;
        color: white;
        background-color: #4e3797;
    }

    /* footer */

    .footer-container {
        background-color: #4e3797;
        height: 100vh;
        color: white;
        justify-content: center;
    }

    .footer-content {
        flex-direction: column;
        height: 70vh;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .footer-box1 {
        width: 80%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-box1 img {
        width: 100%;
    }

    .footer-box2,
    .footer-box3 {
        display: none;
    }

    .res-footer {
        display: flex;
        justify-content: space-evenly;
        width: 80vw;
        height: 25vh;
        font-size: 1.2rem;
    }

    .res-footer-box2 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .res-footer-box3 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer-box4 {
        width: 40%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-box5 {
        width: 18%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-box5 img {
        width: 80%;
    }

    .footer-icons-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-icons {
        width: 5vw;
        height: 6vh;
        background-color: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-icons img {
        width: 55%;
    }

    .footer-accountm,
    .footer-end {
        font-size: 1.2rem;
    }

    .footer-content2 {
        align-items: flex-end;
        height: 15vh;
    }
}