* {
    margin: 0%;
    padding: 0%;
    direction: rtl;
    font-family: IBM Plex Sans Arabic !important;
}

/* Navbar */
.navbar-container {
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed;
    background-color: white;
    /* backdrop-filter: blur(80px); */
}

.navbar-logo {
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo img {
    width: 80%;
}

.navbar-list {
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.navbar-list-content li {
    list-style: none;
}


.navbar-button {
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-button-login {
    width: 15vw;
    height: 7vh;
    font-size: 1.3rem;
    border-radius: 8px;
    border: none;
    background-color: #4f29b7;
    color: #57e3d8;
}

.navbar-button-arrow {
    font-size: 1rem;
}

/* Content */
/* video */
.video-container {
    width: 100%;
    height: 70vh;
    /* background-color: #4f29b7; */
}

/* camps-progrmas-container */
.camps-progrmas-container {
    width: 100%;
    height: 75vh;
    background-color: #f1f4f7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.camps-progrmas-container {
    color: #4e3797;
}
.camps-progrmas-content {
    width: 90%;
    height: 40vh;
    /* background-color: #8d64ee; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border-right: 1rem solid #c2e5c6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box-header {
    /* background-color: rgb(174, 174, 110); */
    width: 87%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-type1 {
    color: #c2e5c6;
}

.box-details {
    width: 90%;
    height: 15vh;
    /* background-color: rgb(110, 174, 146); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details1 {
    display: flex;
    /* background-color: violet; */
    height: 5vh;
}

.details-location {
    /* background-color: #e4d6ff; */
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.6rem;
}

.details-location img {
    width: 30%;
}

.details-duration {
    /* background-color: #aeb9c2; */
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.6rem;
}

.details2 {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(118, 63, 118); */
    height: 5vh;
}

.details-time {
    /* background-color: #caffbe; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.6rem;
}

.details-time img {
    width: 12%;
}

.details-button {
    /* background-color: #ffbef8; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-btn1, .details-btn2, .details-btn3 {
    width: 90%;
    height: 100%;
    border-radius: 50px;
    border: 0.14rem solid #c2e5c6;
    font-size: 1.2rem;
    color: #c2e5c6;
    background-color: white;
}

.box2 {
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border-right: 1rem solid #92d8db;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-type2 {
    color: #92d8db;
}

.details-btn2 {
    border: 0.14rem solid #92d8db;
    color: #92d8db;
}

.box3 {
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border-right: 1rem solid #92d8db;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-type3 {
    color: #92d8db;
}

.details-btn3 {
    border: 0.14rem solid #92d8db;
    color: #92d8db;
}

.more-camps-programs{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-camps-programs button{
    width: 18%;
    height: 60%;
    border-radius: 50px;
    border: 0.14rem solid #4e3797;
    font-size: 1rem;
    color: #4e3797;
    background-color: white;
}